<%= render 'admin/shared/header' %>

<div class="page-container row">
  <%= render 'admin/shared/sidebar' %>

  <div class="page-content">
    <div class="content">
      <div class="page-title">
        <i class="fa fa-picture-o"></i>
        <h3>Edit <span class="semi-bold">Gallery</span> <%= link_to 'Add New', new_admin_gallery_path, class: "btn btn-default btn-mini" %></h3>
      </div>

      <%= render 'form' %>
    </div><%# /content %>
  </div><%# /page-content %>

</div><%# /page-container %>
