<%= render 'admin/shared/header' %>

<div class="page-container row">
  <%= render 'admin/shared/sidebar' %>

  <div class="page-content">
    <div class="content">
      <div id="changelog">
        <h1>Changelog</h1>

        <div class="row-fluid">
          <div class="span12">

            <div class="well">
              <div class="box-title">
                <h3>2016.06.02 Version 1.4.0</h3>
              </div>
              <div class="box-content">
                <h4>New feature</h4>
                <ul>
                  <li>Added Landing Pages for coasters, commuters, motorhomes, iveco-tonto and iveco-trakker. These pages can be customised and maintained from the admin panel.</li>
                  <li>Change enquiry forms to provide for hire enquiries.</li>
                  <li>Updated enquiry API's to synchronise enquiries with Service Manager.</li>
                </ul>
              </div>
            </div>

            <div class="well">
              <div class="box-title">
                <h3>2016.03.08 Version 1.3.0</h3>
              </div>
              <div class="box-content">
                <h4>New feature</h4>
                <ul>
                  <li>Added Google remarketing tag to application template</li>
                </ul>
              </div>
            </div>

            <div class="well">
              <div class="box-title">
                <h3>2016.02.22 Version 1.2.0</h3>
              </div>
              <div class="box-content">
                <h4>New feature</h4>
                <ul>
                  <li>Added a checkbox to allow visitor to subscribe to a newsletter.</li>
                </ul>
              </div>
            </div>

            <div class="well">
              <div class="box-title">
                <h3>2016.02.09 Version 1.1.0</h3>
              </div>
              <div class="box-content">
                <h4>New feature</h4>
                <ul>
                  <li>An enquiry form has been added to the home page, to make it easier for a customer to contact the company without visiting other pages.</li>
                </ul>
              </div>
            </div>

            <div class="well">
              <div class="box-title">
                <h3>2015.10.30 Version 1.0.5</h3>
              </div>
              <div class="box-content">
                <h4>Changes</h4>
                <ul>
                  <li>When an Enquiry form is filled in, provide source application parameter to Service Manager so that CMS enquiries can be identified.</li>
                </ul>
              </div>
            </div>

            <div class="well">
              <div class="box-title">
                <h3>2015.09.08 Version 1.0.4</h3>
              </div>
              <div class="box-content">
                <h4>Changes</h4>
                <ul>
                  <li>Restrict scope of search when searching for vehicle make</li>
                </ul>
              </div>
            </div>
            
            <div class="well">
              <div class="box-title">
                <h3>2015.09.01 Version 1.0.3</h3>
              </div>

              <div class="box-content">
                <h4>Changes</h4>
                <ul>
                  <li>Reinstall Font Awesome to restore missing icons on dashboard</li>
                </ul>
              </div>
            </div>

            <div class="well">
              <div class="box-title">
                <h3>2015.08.12 Version 1.0.2</h3>
              </div>

              <div class="box-content">
                <h4>New Features</h4>
                <ul>
                  <li>Provide new solution for vehicle brochure uploads and downloads</li>
                  <li>Installed RSpec testing framework</li>
                  <li>Add Model tests for Vehicle</li>
                </ul>
              </div>
            </div>

            <div class="well">
              <div class="box-title">
                <h3>2015.08.11 Version 1.0.1</h3>
              </div>

              <div class="box-content">
                <h4>New Features</h4>
                <ul>
                  <li>Allow upload of brochure on the new and edit vehicle pages</li>
                  <li>Allow download of brochure on vehicle show page</li>
                  <li>Add a change log page</li>
                </ul>
              </div>
            </div>

            <div class="well">
              <div class="box-title">
                <h3>2015.03.05 Version 1.0.0</h3>
              </div>

              <div class="box-content">
                <h4>CMS Application</h4>
                <ul>
                  <li>Designed and developed by Jamie Verban</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>