<div class="modal fade" id="enquire-model" tabindex="-1" role="dialog" aria-labelledby="enquiryForm" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="enquiryForm">Submit form below or phone <span class="red-text">1300 287 494</span></h2>
      </div>
      <div class="modal-body">
        <%= render 'shared/enquiry_form' %>
      </div>
    </div>
  </div>
</div>
