<div id="global-footer" class="clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p id="site-info">
          Copyright © <%= Time.now.year %> Bus 4x4 Pty Ltd. All rights reserved.
        </p>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- #global-footer -->
