<div id="global-header" role="navigation">
  <div class="container">
    <div class="row" id="landing-header">
      <div class="col-sm-3 logo">
        <%= link_to image_tag("bus4x4-logo.png"), root_path %>
      </div>
      <div class="col-sm-6">
        <p class="header-text">Australia's Leading 4x4 Bus Company</p>
      </div>
      <div class="col-sm-3 call">
        <%= image_tag "Call.png" %>
      </div>
    </div>  
  </div>
</div>  

