<%= render 'admin/shared/header' %>

<div class="page-container row">
  <%= render 'admin/shared/sidebar' %>

  <div class="page-content">
    <div class="content">
      <div class="page-title">
        <i class="fa fa-user"></i>
        <h3>Add New <span class="semi-bold">User</span></h3>
      </div>

      <%= render 'form' %>
    </div><%# /content %>
  </div><%# /page-content %>

</div><%# /page-container %>
