<div class="paging">
  <%= will_paginate model %>

  <div class="per-page-select">
    Results Per Page
    <%= select_tag :per_page, options_for_select([10,20,50,100], params[:per_page].to_i),:onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
  </div>
</div>
